
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythmic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<nav>
    <div class="navbar">
        <div class="nav-links">
            <div class="logo">
				
				<img src="/images/m.jpg" alt="music">
			
                <span class="logo-text">Rhythmic</span>
            </div>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Contact Us</a>
           
            <a href="/map-register" class="btn">Register</a>
            <a href="/map-login" class="btn">Login</a>
        </div>
    </div>
</nav>
    <div class="container">
        <div>
            <img src="/images/image.png" alt="music">
        </div>
        <div class="content">
			
            <h1>Welcome to <span>Rhythmic</span> Musics !</h1>
            
            <p><span>Harmony in Motion.....</span></p>
            
            <p>Feel the rhythm, embrace the melody,</br> and let music be the soundtrack of your life.</br>Unlock the power of music and let it inspire your journey !</p>
            
            </br>
            <a href="/map-login" class="join-btn">Explore now</a>
        </div>
    </div>

    <footer class="footer">
		
        <p>&copy; 2023 <span>Rhythmic</span>. All rights reserved.  |  Designed by Rhythmic Musics.</p>
    </footer>
</body>

</html>

