

<html>
<head><title>Insert title here</title>
<style>
	body{
		background-color: rgb(87, 87, 87);
		color:floralwhite;
		text-align: center;
	}
	hr{
		width:600px;
		color:darkgrey;
	}
	
	a{
		background-color:rgb(227, 0, 227);
		color: antiquewhite;
		padding:7px;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	a:hover{
		background-color: rgb(255, 0, 255);
			border:1px solid rgb(255, 0, 255);
	}
</style>
</head>
<body>
	<br><br>
	
<h1>sorry!!! u can't add the songs as, song already exists,----please try again</h1>

<hr>
<br>
<br>
<a href="/map-songs">Add More Songs</a>

</body>
</html>